@import url('normalize.css');

header {
  display: flex;
  padding: 0 10%;
  height: 80px;
  background-color: antiquewhite;
  box-shadow: 0 0 5px #d3d3d3;

  > #logo > a > img{
    height: 100%;
  }

  > #menu{
    display: flex;
    align-items: center;
    a{
      color: #000;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
    }
    a:hover{
      background-color: #735642;
      color: #ffffff;
    }

    >ul{
      display: flex;
      flex-wrap: wrap;

      list-style: none;
      >li{
        padding: 0 10px;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  width: 50Į;
  margin: 0 auto;
  padding-top: 20px;

  >div {
    text-align: center;
    >a>img {
      width: 100px;
    }

    >ul {
      padding: 0;

      >li {
        list-style: none;
        margin-top: 16px;
      }
    }
  }
}

dialog {
   width: 30%;
   border-radius: 10px;
   border: none;

   >div {
      display: flex;
      flex-direction: column;

      >img {
         height: 350px;
      }

      >.infoField {
         >p {
            text-align: justify;
         }
      }
   }
}