@import url("normalize.css");

header {
  display: flex;
  padding: 0 10%;
  height: 80px;
  background-color: antiquewhite;
  box-shadow: 0 0 5px #d3d3d3;

  > #logo > a > img {
    height: 100%;
  }

  > #menu {
    display: flex;
    align-items: center;
    a {
      color: #000;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
    }
    a:hover {
      background-color: #735642;
      color: #ffffff;
    }

    > ul {
      display: flex;
      flex-wrap: wrap;

      list-style: none;
      > li {
        padding: 0 10px;
      }
    }
  }
}

section#hero {
  height: calc(100vh - 80px);
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  > h1 {
    z-index: 100;
    color: #fff;
    max-width: 400px;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.9px;
  }
  > button {
    background-color: #1ac511;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 75;
    font-size: 0.6rem;
    &:hover {
      background-color: #24f219;
      text-decoration: underline;
      color: #fff;
    }
    > a {
      text-decoration: none;
      color: #fff;
    }
  }
  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #7e6a266b;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
  }
}

dialog {
  width: 30%;
  border-radius: 10px;
  border: none;

  > div {
    display: flex;
    flex-direction: column;

    > img {
      height: 350px;
    }

    > .infoField {
      > p {
        text-align: justify;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  width: 50Į;
  margin: 0 auto;
  padding-top: 20px;

  >div {
    text-align: center;
    >a>img {
      width: 100px;
    }

    >ul {
      padding: 0;

      >li {
        list-style: none;
        margin-top: 16px;
      }
    }
  }

@media only screen and (min-width: 481px) {
  section#hero {
    > h1 {
      font-size: 1.5rem;
    }
    > button {
      font-size: 1rem;
    }
  }
}
